* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(255, 255, 255);
    color: #333;
    transition: background 0.3s, color 0.3s;
  }
  
  header {
    background-color: #68621a;
    padding: 20px;
    color: white;
    text-align: center;
  }
  
  nav {
    margin-top: 10px;
  }
  
  nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  main {
    padding: 20px;
    max-width: 1000px;
    margin: auto;
  }
  
  .galeria {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .galeria img {
    max-width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .galeria img:hover {
    transform: scale(1.05);
  }
  
  /* Botão modo escuro */
  button {
    padding: 10px 15px;
    background: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #01579b;
  }
  
  input, textarea {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .dark-mode {
    background: #121212;
    color: #e0e0e0;
  }
  
  .dark-mode header {
    background-color: #1e1e1e;
  }
  
  .dark-mode nav a {
    color: #90caf9;
  }
  
  .dark-mode input,
  .dark-mode textarea {
    background-color: #2b2b2b;
    color: #fff;
    border: 1px solid #555;
  }
  
  .dark-mode button {
    background-color: #444;
    color: white;
  }
  
  /* Modal */
  .modal {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.85);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
  }
  
  .modal.active {
    display: flex;
  }
  
  .modal img {
    max-width: 80%;
    max-height: 80%;
    margin-bottom: 10px;
    border-radius: 8px;
  }
  
  .modal p {
    color: white;
    font-size: 18px;
    max-width: 80%;
    text-align: center;
    margin: 0 20px 20px 20px;
  }
  
  .modal-btn {
    position: absolute;
    top: 50%;
    font-size: 3rem;
    color: white;
    background: transparent;
    border: none;
    cursor: pointer;
    user-select: none;
    padding: 0 15px;
    transform: translateY(-50%);
    font-weight: bold;
    z-index: 1001;
  }
  
  #btn-prev {
    left: 10px;
  }
  
  #btn-next {
    right: 10px;
  }
  
  #btn-fechar {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 2.5rem;
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    z-index: 1001;
  }
  